#File Types
*.cache
*.coverage
*.html
*.log
*.nupkg
*.old
*.orig
*.suo
*.user

#Folders rooted
/ngp

#Folders everywhere
.vs
.idea
bin
obj
packages
PerfTestResults
data

#Config Files
RedstoneByte.toml
ServerQueue.json