<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
        <target xsi:type="ColoredConsole" name="Console"
                layout="[${date:format=HH\:mm\:ss}] [${threadname}/${level}] [${logger}]: ${message}${onexception:inner=${newline}${exception:format=toString}}" />
        <target xsi:type="AsyncWrapper" name="Async">
            <target xsi:type="File" name="File" encoding="utf-8" fileName="RedstoneByte.log"
                    archiveFileName="IronByte-{#}.log" archiveNumbering="Sequence" maxArchiveFiles="3"
                    archiveOldFileOnStartup="true"
                    layout="[${date:format=HH\:mm\:ss}] [${threadname}/${level}] [${logger}]: ${message}${onexception:inner=${newline}${exception:format=toString}}" />
        </target>
    </targets>

    <rules>
        <logger name="*" minlevel="Info" writeTo="Console" />
        <logger name="*" writeTo="Async" />
    </rules>

</nlog>